[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
[submodule "lib/mdl"]
	path = lib/mdl
	url = git@github.com:Michionlion/mdl.git
[submodule "lib/cuda"]
	path = lib/cuda
	url = git@github.com:Michionlion/cuda.git
[submodule "lib/optix"]
	path = lib/optix
	url = git@github.com:Michionlion/optix.git
[submodule "lib/libtickit"]
	path = lib/libtickit
	url = git@github.com:Michionlion/libtickit.git
