[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/mdl"]
	path = lib/mdl
	url = https://github.com/Michionlion/mdl.git
[submodule "lib/cuda"]
	path = lib/cuda
	url = https://github.com/Michionlion/cuda.git
[submodule "lib/optix"]
	path = lib/optix
	url = https://github.com/Michionlion/optix.git
[submodule "lib/libtickit"]
	path = lib/libtickit
	url = https://github.com/Michionlion/libtickit.git
